<!DOCTYPE html>
<html>
    <head>
        <title>froshims0</title>
    </head>
    <body>
        <h1>Register for frosh IMs</h1>
        <form action="/register" method="post">
            <input name="name" placeholder="Name" type="text">
            <select name="dorm">                                               <!--select tag generates a dropdown list-->
                <option disabled selected value="">Dorms</option>
                <option value="Apley court">Apley court</option>
                <option value="Canaday">Canaday</option>
            </select>
            <input type = "submit" value="Register">
        </form>
    </body>
</html>